<div class="portada">
    <div class="container-fluid">
        <div class="row">
        <div class="col">
            <h1>
            <a href="" class="typewrite" data-period="2000" data-type='["¡Hola! 👋", "Aquí podrás conocer... 🧐", "...mi experiencia y habilidades. 💼💡", "Te invito a conocer mi trabajo. 😉👉"]'>
                <span class="wrap"></span>
            </a>
            </h1>
        </div>
        </div>
        <div class="row">
        <div class="col">
            <a href="#contacto"><button type="button" class="btn">Contacto</button></a>
        </div>
        </div>
    </div>
</div>
