<div class="proyectos" id="proyectos">
    <div class="container-fluid">

      <div class="row">
        <div class="col">
          <h1>Proyectos</h1>
        </div>
      </div>

      <div class="row">
        <div>         
            <img src="/assets/Images/Portfolio.png" class="card-img-top" alt="proyecto" style="width:100px;">
            <div class="card-body">
              <h5 class="card-title">Portfolio</h5>
              <p class="card-text">Mi Portfolio Web donde se pueden visualizar experiencia, educación, habilidades, proyectos realizados, entre otros apartados.</p>
              <p class="card-text">Año: 2023</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="card-text">Tecnologías utilizadas:</p>
                  <img class="img-fluid" src="/assets/Images/Bootstrap.png" style="width:50px;">
              </li>
            </ul>
            <div class="card-body">
              <a href="https://github.com/melirossi/MyPortfolio_FrontEnd" target="_blank" class="card-link">Ir al repositorio</a>
            </div>
                   <div> 
          
      </div>

    </div>
</div>

<div class="masproyect">
  <div class="container-fluid">
      <div class="row">
      <div class="col-12">
          <a href="https://github.com/melirossi?tab=repositories" target="_blank"><button type="button" class="btn">Ver más proyectos</button></a>
      </div>
      </div>
  </div>
</div>
