<div class="proyectos" id="proyectos">
    <div class="container-fluid">

      <div class="row">
        <div class="col">
          <h1>Proyectos</h1>
        </div>
      </div>

      <div class="col-lg-2">
        <button class="btn btn-dark" type="button" routerLink="/nuevoproy" *ngIf="isLogged">
          Nuevo proyecto
        </button>
      </div>

      <div class="row">
        <li *ngFor="let Proyectos of proyectos">         
          <img src="/assets/Images/Portfolio.png" class="card-img-top" alt="proyecto" style="width:100px;">
          <div class="card-body">
            <h5 class="card-title">{{Proyectos.tituloProy}}</h5>
            <p class="card-text">{{Proyectos.descripProy}}</p>
            <p class="card-text">Año: {{Proyectos.fechaProy}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p class="card-text">Tecnologías utilizadas:</p>
                <img class="img-fluid" src="/assets/Images/Bootstrap.png" style="width:50px;">
            </li>
          </ul>
          <div class="card-body">
            <a href={{Proyectos.urlProy}} target="_blank" class="card-link">Ir al repositorio</a>
          </div>
          <div class="row" *ngIf="isLogged">
            <div class="col">
              <button class="btn btn-secondary" routerLink="/editproy/{{Proyectos.id}}">Editar</button>
              <button class="btn btn-danger" (click)="delete(Proyectos.id)">Eliminar</button>
            </div>
          </div>
      </li>
    </div>
</div>

<div class="masproyect">
  <div class="container-fluid">
      <div class="row">
      <div class="col-12">
          <a href="https://github.com/melirossi?tab=repositories" target="_blank"><button type="button" class="btn">Ver más proyectos</button></a>
      </div>
      </div>
  </div>
</div>
