<div class="educacion" id="educacion">
  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <h1>Educación</h1>
      </div>
    </div>

    <li>
      <div class="row">          
        <div class="col-sm-12 col-lg-1"> 
          <img class="img-fluid" src="/assets/Images/ArgPrograma.svg" alt="Argentina Programa">                                 
        </div>    
        <div class="col-sm-12 col-lg-7">
          <h2>#YoProgramo</h2> 
          <h3>10/2022 — 05/2023</h3>      
        </div>  
        <div class="col-sm-12 col-lg-4">
          <h4>Ministerio de Economía e Instituto Nacional de Tecnología Industrial</h4>              
        </div> 
      </div>
      <div class="row descripcion">
        <div class="col-sm-12 col-md-11 offset-md-1">
          <p>Nociones de Scrum y gestión del tiempo.</p>
        </div>
      </div>
    </li>      
    
    <a href="https://www.linkedin.com/in/melisasrossi" target="_blank"><button type="button" class="btn">Ver más en LinkedIn</button></a>
    
  </div>
</div>

