<div class="perfil" id="perfil">
    <div class="container-fluid">
      <div class="row">          
          <div class="foto col-sm-12 col-lg-3 g-0"> 
            <img class="img-fluid" src="/assets/Images/Carnet.png" alt="foto">               
          </div>
          <div class="col-sm-12 col-lg-9 p-5">
              <p>Cuento con dos años de experiencia como becaria doctoral en el área de Riesgo Ambiental, donde trabajo con datos de todo tipo en equipos multidisciplinarios. Actualmente, me encuentro en la búsqueda de nuevas oportunidades laborales dentro del área IT para seguir desarrollando mis habilidades analíticas e informáticas.</p>
              <a href="https://drive.google.com/file/d/1yaa9zg6m2gIiZsTZqVIQJEn1rFzLw1je/view?usp=sharing" target="_blank"><button type="button" class="btn">Currículum Vitae</button></a>
          </div>
      </div>
    </div>
</div>
