<div class="perfil" id="perfil" *ngIf="persona?.id">
    <div class="container-fluid">
      <div class="row">          
          <div class="foto col-sm-12 col-lg-3 g-0"> 
            <img class="img-fluid" *ngIf="persona?.img" [src]="persona.img" alt="fotodeperfil">               
          </div>
          <div class="col-sm-12 col-lg-9 p-5">
            <!--Boton para editar persona-->
            <div class="row">
              <div class="col botoneras">
                <button class="btn btn-perfil" type="button" routerLink="/editacercade/{{persona.id}}" *ngIf="isLogged">
                   <p>Editar información básica</p> 
                </button>
              </div>
            </div>
            <h1 *ngIf="persona?.nombre">{{persona.nombre}} {{persona.apellido}}</h1>
            <p *ngIf="persona?.descripcion">{{persona.descripcion}}</p>            
          </div>
      </div>
    </div>
</div>
