<div class="perfil" id="perfil" *ngIf="persona?.id">
    <div class="container-fluid">
      <div class="row">          
          <div class="foto col-sm-12 col-lg-3 g-0"> 
            <img class="img-fluid" src="" alt="fotodeperfil">               
          </div>
          <div class="col-sm-12 col-lg-9 p-5">
            <h1 *ngIf="persona?.nombre">{{persona.nombre}} {{persona.apellido}}</h1>
            <p *ngIf="persona?.descripcion">{{persona.descripcion}}</p>
            <button class="btn btn-primary" type="button" routerLink="/editacercade/{{persona.id}}" *ngIf="isLogged">
              Editar perfil y datos personales
            </button>
          </div>
      </div>
    </div>
</div>
