<div class="experiencia" id="experiencia">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Experiencia</h1>
      </div>
    </div>

    <div class="col-lg-2">
      <button class="btn btn-dark" type="button" routerLink="/nuevaexp" *ngIf="isLogged">
        Nueva experiencia
      </button>
    </div>

  <li *ngFor="let Experiencia of expe">
    <div class="row">          
        <div class="col-sm-12 col-lg-1"> 
          <img class="img-fluid" src="/assets/Images/ArgPrograma.svg" alt="Conicet">                                 
        </div>    
        <div class="col-sm-12 col-lg-7">
          <h2>{{Experiencia.tituloE}}</h2> 
          <h3>{{Experiencia.nombreE}}</h3>      
        </div>  
        <div class="col-sm-12 col-lg-4">
          <h4>{{Experiencia.fechaE}}</h4>              
        </div> 
    </div>
    <div class="row descripcion">
      <div class="col-sm-12 col-md-11 offset-md-1">
        <p>{{Experiencia.descripcionE}}</p>
      </div>
    </div>
    <div class="row" *ngIf="isLogged">
      <div class="col">
        <button class="btn btn-secondary" routerLink="/editexp/{{Experiencia.id}}">Editar</button>
        <button class="btn btn-danger" (click)="delete(Experiencia.id)">Eliminar</button>
      </div>
    </div>
  </li> 

  </div>
</div>