<div class="col-lg-2">
  <button class="btn btn-dark" type="button" routerLink="/nuevohabb" *ngIf="isLogged">
    Nueva habilidad blanda
  </button>
  <button class="btn btn-dark" type="button" routerLink="/nuevohabd" *ngIf="isLogged">
    Nueva habilidad dura
  </button>
  <button class="btn btn-dark" type="button" routerLink="/nuevoidioma" *ngIf="isLogged">
    Nuevo idioma
  </button>
</div>

<div class="habilidades"  id="habilidades">
    <div class="container-fluid">

      <div class="row">
        <div class="col">
          <h1>Habilidades</h1>
        </div>
      </div>

      <div class="row text-center">          
          <div class="col-sm-12 col-lg-6"> 
            <button type="button" class="btn nohover">Blandas</button>  
            <li *ngFor="let Habblandas of habblandas">            
              <div class="blandas">
                <h2>{{Habblandas.nombreHB}}</h2>
                <p>{{Habblandas.descripHB}}</p>                              
              </div>
              <div class="row" *ngIf="isLogged">
                <div class="col">
                  <button class="btn btn-danger" (click)="deleteHabblandas(Habblandas.id)">Eliminar</button>
                </div>
              </div>
          </li>               

            <button type="button" class="btn nohover mt-3">Idiomas</button>    
            <li *ngFor="let Idiomas of idiomas"> 
              <div class="idiomas">
                <h2>{{Idiomas.nombreI}}</h2>
                <span>{{Idiomas.descripI}}</span>                               
              </div> 
              <div class="row" *ngIf="isLogged">
                <div class="col">
                  <button class="btn btn-danger" (click)="deleteIdiomas(Idiomas.id)">Eliminar</button>
                </div>
              </div>
            </li>        
          </div>

          <div class="col-sm-12 col-lg-6">
            <button type="button" class="btn nohover habduras">Duras</button>
            <li *ngFor="let Habduras of habduras">   
              <div class="duras">
                <h2>{{Habduras.nombreHD}}</h2>              
              </div>
              <div class="row" *ngIf="isLogged">
                <div class="col">
                  <button class="btn btn-danger" (click)="deleteHabduras(Habduras.id)">Eliminar</button>
                </div>
              </div>
            </li>
          </div>
      </div>
    </div>
  </div>