<div class="contacto" id="contacto">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>Contacto</h1>
        </div>
      </div>
      <div class="row">          
        <div class="col-sm-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title"><i class="fa-solid fa-location-dot"></i>Ubicación</h2>
              <p class="card-text">Buenos Aires, Argentina</p>
            </div>
          </div> 
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title"><i class="fa-solid fa-envelope"></i>Correo electrónico</h2>
              <p class="card-text">melisa.s.rossi@gmail.com</p>
            </div>
          </div> 
        </div>
        <div class="col-sm-12 col-lg-4 text-center">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title"><i class="fa-solid fa-thumbs-up"></i>Redes sociales</h2>
              <a href="https://www.linkedin.com/in/melisasrossi" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://github.com/melirossi" target="_blank"><i class="fa-brands fa-github"></i></a> 
            </div>
          </div> 
        </div>
      </div>
    </div>
</div>
