.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.logo {
    height: 35px;
}

span, h3 {
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    vertical-align: bottom;
    font-weight: bold;
}

label {
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    letter-spacing: 2px;
    margin-top: 5px;
}

button {
    background-color: #1c243c;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 17px;
}

.btn:hover {
    background-color: transparent;
    color: #1c243c;
    border: 2px solid #1c243c;
    font-weight: bold;
}

.registro {
    color: #4a7089;
}
